/*
  prevent FOUC
*/
:not(.custom-style-defined) body{
  opacity: 0;
}

.custom-style-defined body{
  opacity: 1;
  transition: opacity 0.25s;
}

html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #666;
}
